.idea {
  padding: 20px;
  border: 1px solid #c6c6c6;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;
  flex: 0 0 100%;
}

.ideaTitle {
  font-weight: 200;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  margin-bottom: 0;
}

.ideaCreated {
  font-size: 12px;
  color: #ccc;
  padding: 0;
  margin: 0;
}

.ideaHide {
  display: none;
}

.ideaShow {
  display: block;
}

.ideaInput {
  width: 100%;
  padding: 20px 10px 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: #eee;
  color: #000;
  box-sizing: border-box;
  font-size: 18px;
}

.ideaInput:focus {
  outline: none;
}

.ideaTextarea {
  width: 100%;
  min-height: 150px;
  padding: 20px 10px 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: #eee;
  color: #000;
  box-sizing: border-box;
  font-size: 16px;
  margin: 10px 0;
  resize: none;
}

.ideaTextarea:focus {
  outline: none;
}

.ideaDelete {
  position: absolute;
  font-size: 14px;
  color: #0063dd;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .idea {
    flex: 1;
    margin-right: 1%;
    max-width: 32%;
    flex-basis: 32%;
  }
}
